
<h1>Piso 2</h1>

<div class="seccion-uno">
  <div class="kw">
    <iframe src="http://localhost:3000/d-solo/ywx8b4b7k/real-time?orgId=1&panelId=30" frameborder="0"></iframe>
  </div>
  <div class="precio-kw">
    <iframe src="http://localhost:3000/d-solo/ywx8b4b7k/real-time?orgId=1&panelId=44" frameborder="0"></iframe>
  </div>
  <div class="ocupación">
    <iframe src="http://localhost:3000/d-solo/ywx8b4b7k/real-time?orgId=1&panelId=14" frameborder="0"></iframe>
  </div>
</div>

<br>

<div class="seccion-dos">
  <div class="superficie">
    <iframe src="http://localhost:3000/d-solo/ywx8b4b7k/real-time?orgId=1&panelId=46" frameborder="0"></iframe>
  </div>
  <div class="kw-superficie">
    <iframe src="http://localhost:3000/d-solo/ywx8b4b7k/real-time?orgId=1&panelId=48" frameborder="0"></iframe>
  </div>
</div>

<br>

<div class="seccion-tres">
  <div class="voltaje">
    <iframe src="http://localhost:3000/d-solo/ywx8b4b7k/real-time?orgId=1&panelId=12" frameborder="0"></iframe>
  </div>
  <div class="intencidad">
    <iframe src="http://localhost:3000/d-solo/ywx8b4b7k/real-time?orgId=1&panelId=26" frameborder="0"></iframe>
  </div>
</div>

<br>

<div  class="seccion-cuatro" >
  <div>
    <iframe src="http://localhost:3000/d-solo/ywx8b4b7k/real-time?orgId=1&panelId=28" frameborder="0"></iframe>
  </div>
</div>


