<div class="cuerpo">

  <h1>Piso 2</h1>


  <div class="seccion-uno">
    <div class="kw">
      <iframe src="http://localhost:3000/d-solo/ywx8b4b7k/real-time?orgId=1&panelId=30" frameborder="0"></iframe>
    </div>
    <div class="precio-kw">
      <iframe src="http://localhost:3000/d-solo/ywx8b4b7k/real-time?orgId=1&panelId=44" frameborder="0"></iframe>
    </div>
    <div class="ocupación">
      <iframe src="http://localhost:3000/d-solo/ywx8b4b7k/real-time?orgId=1&panelId=14" frameborder="0"></iframe>
    </div>
  </div>

  <br>

  <div class="seccion-dos">
    <div class="superficie">
      <iframe src="http://localhost:3000/d-solo/ywx8b4b7k/real-time?orgId=1&panelId=46" frameborder="0"></iframe>
    </div>
    <div class="kw-superficie">
      <iframe src="http://localhost:3000/d-solo/ywx8b4b7k/real-time?orgId=1&panelId=48" frameborder="0"></iframe>
    </div>
  </div>

  <br>

  <div class="seccion-tres">
    <div class="voltaje">
      <iframe src="http://localhost:3000/d-solo/ywx8b4b7k/real-time?orgId=1&panelId=12" frameborder="0"></iframe>
    </div>
    <div class="voltajeTrif">
      <iframe src="http://localhost:3000/d-solo/ywx8b4b7k/real-time?orgId=1&panelId=61" frameborder="0"></iframe>
    </div>
  </div>

  <br>

  <div class="seccion-tres">
    <div class="intencidad">
      <iframe src="http://localhost:3000/d-solo/ywx8b4b7k/real-time?orgId=1&panelId=26" frameborder="0"></iframe>
    </div>
    <div class="intencidadTrif">
      <iframe src="http://localhost:3000/d-solo/ywx8b4b7k/real-time?orgId=1&panelId=62" frameborder="0"></iframe>
    </div>
  </div>

  <br>

  <div class="seccion-tres">
    <div class="potencia">
      <iframe src="http://localhost:3000/d-solo/ywx8b4b7k/real-time?orgId=1&panelId=28" frameborder="0"></iframe>
    </div>
    <div class="potenciaTri">
      <iframe src="http://localhost:3000/d-solo/ywx8b4b7k/real-time?orgId=1&panelId=63" frameborder="0"></iframe>
    </div>
  </div>

  <br>

  <div class="seccion-tres">
    <div class="potenciAct">
      <iframe src="http://localhost:3000/d-solo/ywx8b4b7k/real-time?orgId=1&panelId=86" frameborder="0"></iframe>
    </div>
    <div class="potenciActTri">
      <iframe src="http://localhost:3000/d-solo/ywx8b4b7k/real-time?orgId=1&panelId=87" frameborder="0"></iframe>
    </div>
  </div>

  <br>

  <div class="seccion-tres">
    <div class="potenciReact">
      <iframe src="http://localhost:3000/d-solo/ywx8b4b7k/real-time?orgId=1&panelId=88" frameborder="0"></iframe>
    </div>
    <div class="potenciReactTri">
      <iframe src="http://localhost:3000/d-solo/ywx8b4b7k/real-time?orgId=1&panelId=89" frameborder="0"></iframe>
    </div>
  </div>

  <br>

  <div  class="seccion-cuatro" >
    <div>
      <iframe src="http://localhost:3000/d-solo/ywx8b4b7k/real-time?orgId=1&panelId=101" frameborder="0"></iframe>
    </div>
  </div>
</div>
