<h1>Piso 3</h1>

<div class="seccion-uno">
  <div class="kw">
    <iframe src="http://localhost:3000/d-solo/ywx8b4b7k/real-time?orgId=1&panelId=36" frameborder="0"></iframe>
  </div>
  <div class="precio-kw">
    <iframe src="http://localhost:3000/d-solo/ywx8b4b7k/real-time?orgId=1&panelId=54" frameborder="0"></iframe>
  </div>
  <div class="ocupación">
    <iframe src="http://localhost:3000/d-solo/ywx8b4b7k/real-time?orgId=1&panelId=18" frameborder="0"></iframe>
  </div>
</div>

<br>

<div class="seccion-dos">
  <div class="superficie">
    <iframe src="http://localhost:3000/d-solo/ywx8b4b7k/real-time?orgId=1&panelId=52" frameborder="0"></iframe>
  </div>
  <div class="kw-superficie">
    <iframe src="http://localhost:3000/d-solo/ywx8b4b7k/real-time?orgId=1&panelId=50" frameborder="0"></iframe>
  </div>
</div>

<br>

<div class="seccion-tres">
  <div class="voltaje">
    <iframe src="http://localhost:3000/d-solo/ywx8b4b7k/real-time?orgId=1&panelId=16" frameborder="0"></iframe>
  </div>
  <div class="voltajeTrif">
    <iframe src="http://localhost:3000/d-solo/ywx8b4b7k/real-time?orgId=1&refresh=10s&panelId=64" frameborder="0"></iframe>
  </div>
</div>

<br>
<div class="seccion-tres">
  <div class="intencidad">
    <iframe src="http://localhost:3000/d-solo/ywx8b4b7k/real-time?orgId=1&panelId=32"frameborder="0"></iframe>
  </div>
  <div class="intencidadTrif">
    <iframe src="http://localhost:3000/d-solo/ywx8b4b7k/real-time?orgId=1&refresh=10s&panelId=65" frameborder="0"></iframe>
  </div>
</div>

<br>

<div class="seccion-tres">
  <div class="potencia">
    <iframe src="http://localhost:3000/d-solo/ywx8b4b7k/real-time?orgId=1&panelId=34" frameborder="0"></iframe>
  </div>
  <div class="potenciaTri">
    <iframe src="http://localhost:3000/d-solo/ywx8b4b7k/real-time?orgId=1&refresh=10s&panelId=66" frameborder="0"></iframe>
  </div>
</div>

<br>

<div  class="seccion-cuatro" >
  <div>
    <iframe src="http://localhost:3000/d-solo/ywx8b4b7k/real-time?orgId=1&panelId=34" frameborder="0"></iframe>
</div>




