<h1>Ocupación</h1>

<div class="seccion-uno">
  <div class="kw">
    <iframe src="http://localhost:3000/d-solo/ywx8b4b7k/real-time?orgId=1&panelId=36" frameborder="0"></iframe>
  </div>
  <div class="precio-kw">
    <iframe src="http://localhost:3000/d-solo/ywx8b4b7k/real-time?orgId=1&panelId=54" frameborder="0"></iframe>
  </div>
  <div class="ocupación">
    <iframe src="http://localhost:3000/d-solo/ywx8b4b7k/real-time?orgId=1&panelId=18" frameborder="0"></iframe>
  </div>
</div>

<h2>Otro</h2>

<div class="seccion-dos">
  <div class="superficie">
    <iframe src="http://localhost:3000/d-solo/ywx8b4b7k/real-time?orgId=1&panelId=52" frameborder="0"></iframe>
  </div>
  <div class="kw-superficie">
    <iframe src="http://localhost:3000/d-solo/ywx8b4b7k/real-time?orgId=1&panelId=50" frameborder="0"></iframe>
  </div>
</div>

<h2>Otro</h2>

<div class="seccion-tres">
  <div class="voltaje">
    <iframe src="http://localhost:3000/d-solo/ywx8b4b7k/real-time?orgId=1&panelId=16" frameborder="0"></iframe>
  </div>
  <div class="intencidad">
    <iframe src="http://localhost:3000/d-solo/ywx8b4b7k/real-time?orgId=1&panelId=32"frameborder="0"></iframe>
  </div>
</div>

<h2>Otro</h2>

<div  class="seccion-cuatro" >
  <div>
    <iframe src="http://localhost:3000/d-solo/ywx8b4b7k/real-time?orgId=1&panelId=34" frameborder="0"></iframe>
</div>




