
<h1>Medidor General</h1>

<div class="seccion-uno">
  <div class="kw">
    <iframe src="http://localhost:3000/d-solo/ywx8b4b7k/real-time?orgId=1&panelId=24" frameborder="0"></iframe>
  </div>
  <div class="precio-kw">
    <iframe src="http://localhost:3000/d-solo/ywx8b4b7k/real-time?orgId=1&panelId=38" frameborder="0"></iframe>
  </div>
  <div class="ocupación">
    <iframe src="http://localhost:3000/d-solo/ywx8b4b7k/real-time?orgId=1&panelId=10" frameborder="0"></iframe>
  </div>
</div>

<br>

<div class="seccion-dos">
  <div class="superficie">
    <iframe src="http://localhost:3000/d-solo/ywx8b4b7k/real-time?orgId=1&panelId=40"  frameborder="0"></iframe>
  </div>
  <div class="kw-superficie">
    <iframe src="http://localhost:3000/d-solo/ywx8b4b7k/real-time?orgId=1&panelId=42" frameborder="0"></iframe>
  </div>
</div>

<br>

<div class="seccion-tres">
  <div class="voltaje">
    <iframe src="http://localhost:3000/d-solo/ywx8b4b7k/real-time?orgId=1&refresh=5s&panelId=2" frameborder="0"></iframe>
  </div>
  <div class="intencidad">
    <iframe src="http://localhost:3000/d-solo/ywx8b4b7k/real-time?orgId=1&panelId=20"  frameborder="0"></iframe>
  </div>
</div>

<br>

<div  class="seccion-cuatro" >
  <div>
    <iframe src="http://localhost:3000/d-solo/ywx8b4b7k/real-time?orgId=1&panelId=22"  frameborder="0"></iframe>
  </div>
</div>
