
<h1>Piso 1</h1>


<div class="seccion-uno">
  <div class="kw">
    <iframe src="http://localhost:3000/d-solo/ywx8b4b7k/real-time?orgId=1&panelId=71" frameborder="0"></iframe>
  </div>
  <div class="precio-kw">
    <iframe src="http://localhost:3000/d-solo/ywx8b4b7k/real-time?orgId=1&panelId=77" frameborder="0"></iframe>
  </div>
  <div class="ocupación">
    <iframe src="http://localhost:3000/d-solo/ywx8b4b7k/real-time?orgId=1&panelId=76" frameborder="0"></iframe>
  </div>
</div>

<br>

<div class="seccion-dos">
  <div class="superficie">
    <iframe src="http://localhost:3000/d-solo/ywx8b4b7k/real-time?orgId=1&panelId=78" frameborder="0"></iframe>
  </div>
  <div class="kw-superficie">
    <iframe src="http://localhost:3000/d-solo/ywx8b4b7k/real-time?orgId=1&panelId=79" frameborder="0"></iframe>
  </div>
</div>

<br>

<div class="seccion-tres">
  <div class="voltaje">
    <iframe src="http://localhost:3000/d-solo/ywx8b4b7k/real-time?orgId=1&panelId=69" frameborder="0"></iframe>
  </div>
  <div class="voltajeTrif">
    <iframe src="http://localhost:3000/d-solo/ywx8b4b7k/real-time?orgId=1&panelId=70" frameborder="0"></iframe>
  </div>
</div>

<br>

<div class="seccion-tres">
  <div class="intencidad">
    <iframe src="http://localhost:3000/d-solo/ywx8b4b7k/real-time?orgId=1&panelId=72" frameborder="0"></iframe>
  </div>
  <div class="intencidadTrif">
    <iframe src="http://localhost:3000/d-solo/ywx8b4b7k/real-time?orgId=1&panelId=73" frameborder="0"></iframe>
  </div>
</div>

<br>

<div class="seccion-tres">
  <div class="potencia">
    <iframe src="http://localhost:3000/d-solo/ywx8b4b7k/real-time?orgId=1&panelId=74" frameborder="0"></iframe>
  </div>
  <div class="potenciaTri">
    <iframe src="http://localhost:3000/d-solo/ywx8b4b7k/real-time?orgId=1&panelId=75" frameborder="0"></iframe>
  </div>
</div>

<br>

<div  class="seccion-cuatro" >
  <div>
    <iframe src="http://localhost:3000/d-solo/ywx8b4b7k/real-time?orgId=1&panelId=28" frameborder="0"></iframe>
  </div>
</div>

