.htmlData{
  display: flex;
  flex-direction: column;
}

.titulo-temp{
  display: flex;
  justify-content: space-between;
  padding: 0px 10px;
}

.temporalidad{
  display: flex;
  padding: 0 16px;
  align-items: center;
  white-space: nowrap;
}
.temporalidad label{
  margin: 0px 10px;
  font: 500 20px/32px Roboto, "Helvetica Neue", sans-serif;
}

/*  --------------  */
.cuerpo{
  padding: 16px;
  display: block;
}

div{
  display: flex;
}

div p{
  font-size: 2em;
}

.titulo{
  font-size: 1.4em;
  font-family: bold;
}

.seccion-uno{
  width: 100%;
  height: 10%;
  justify-content: space-between;
}
  .seccion-uno div {
    flex-direction: column;
  }
  .seccion-uno div p{
    justify-content: center;
    width: 100%;
  }
.kw{
  text-align: center;
  width: 33%;
  padding: 5%;
}
.precio-kw{
  text-align: center;
  width: 33%;
  padding: 5%;
}

.ocupacion{
  text-align: center;
  width: 33%;
  padding: 5%;
}
/* informe */
div table{
  margin: 0px 30px;
  padding: 0px 20px;
}

section h3{
  margin: 15px 0px;
  text-align: center;
  font-size: 2em;
  font-weight: bold;
}

/*  ---  fin informe  --*/
.seccion-dos{
  width: 100%;
  height: 10%;
  justify-content: space-around;
}
  .seccion-dos div {
    flex-direction: column;
  }

  .seccion-dos div p{
    justify-content: center;
    width: 100%;
  }

  .superficie{
    text-align: center;
    width: 33%;
    padding: 5%;
  }

  .kw-superficie{
    width: 33%;
    text-align: center;
    padding: 5%;
  }



.seccion-tres{
  width: 100%;
  justify-content: center;
  padding: 0% 5%;
}
  .seccion-tres div{
    width: 100%;
  }
  .seccion-tres div div{
    width: 100%;
  }
  .seccion-tres div div plotly-plot{
    width: 100%;
  }


.seccion-cuatro{
  width: 100%;
  justify-content: center;
  padding: 0% 5%;
}
  .seccion-cuatro div{
    width: 100%;
  }
  .seccion-cuatro div div{
    width: 100%;
  }
  .seccion-cuatro div div plotly-plot{
    width: 100%;
  }

.seccion-cinco{
  width: 100%;
  justify-content: center;
  padding: 0% 5%;
}
  .seccion-cinco div{
    width: 100%;
  }
  .seccion-cinco div div{
    width: 100%;
  }

  .seccion-cinco div div plotly-plot{
    width: 100%;
  }


  .tg  {border-collapse:collapse;border-spacing:0;}
  .tg td{border-color:black;border-style:solid;border-width:1px;font-family:Arial, sans-serif;font-size:14px;
    overflow:hidden;padding:10px 5px;word-break:normal;}
  .tg th{border-color:black;border-style:solid;border-width:1px;font-family:Arial, sans-serif;font-size:14px;
    font-weight:normal;overflow:hidden;padding:10px 5px;word-break:normal;}
  .tg .tg-0pky{border-color:inherit;text-align:left;vertical-align:top}
  .tg .tg-0lax{text-align:left;vertical-align:top}
