
.cuerpo{
  padding: 16px;
  display: block;
}

div{
    display: flex;
  }

  .seccion-uno{
    width: 100%;
    justify-content: space-between;
  }

  .seccion-dos{
    width: 100%;
    justify-content: space-between;
  }

    .seccion-dos div{
      width: 100%;
    }

    .seccion-dos div iframe{
      width: 100%;
      margin: 10px;
    }

  .seccion-tres{
    width: 100%;
    justify-content: space-between;
  }

    .seccion-tres div{
      width: 100%;
    }

    .seccion-tres div iframe{
      width: 100%;
      margin: 10px;
    }

  .seccion-cuatro{
    width: 100%;
    justify-content: center;
  }
    .seccion-cuatro div{
      width: 100%;
    }

    .seccion-cuatro div iframe{
      width: 100%;
      margin: 10px;
    }
