
mat-sidenav-container{
  height: 100%;
}

mat-sidenav-container mat-sidenav mat-nav-list .chevron_button{
  transition: 300ms ease-in-out;
  transform: rotate(0deg);
  right: 0;
  float: right;
  position: absolute;
}


mat-sidenav-container mat-sidenav mat-nav-list .chevron_button.rotated{
  transform: rotate(180deg);
}

.icon-simu{
  margin: auto
}

.mat-expansion-panel-header-title, .mat-expansion-panel-header-description{
  margin-right: 0px !important;
}

.cabeza{
  display: flex;
  justify-content: space-between;
}

.server{
  display: flex;
  background: #f5f5f5;
  padding: 0 16px;
  align-items: center;
  white-space: nowrap;
}

.server p{
  font: 500 20px/32px Roboto, "Helvetica Neue", sans-serif;
  margin: 0px 10px;
}

