<div class="cuerpo">

  <div class="titulo-temp" >
    <h2>{{pisoMostrar}}  - Datos historicos por Año</h2>
    <div class="temporalidad">
      <label for="start">Start date: </label>
      <select  [(ngModel)]="anioSelec" (change)="fechaEscogida()">
        <option value="2021">escoge un año</option>
        <option *ngFor = "let ani of anio" >
          {{ani.to_char}}
        </option>
      </select>
    </div>
  </div>

  <section id="htmlData">

    <h3>Informe de Datos historiscos del año {{fecha}} y {{pisoMostrar}}</h3>

  <div class="seccion-uno">
    <div class="kw card">
      <p class="titulo">Kw</p>
      <p>{{ kw | number: '.1-2' }}</p>
    </div>
    <div class="precio-kw card">
      <p class="titulo">Precio $ </p>
      <p>{{ kwPrecio | number: '.1-2' }}</p>
    </div>
    <div class="ocupacion card">
      <p class="titulo">Ocupación</p>
      <p>{{ ocupacion }}</p>
    </div>
  </div>

  <br>

  <div class="seccion-dos">
    <div class="superficie card">
      <p class="titulo">Superficie (m2)</p>
      <p>{{ superficie }}</p>
    </div>
    <div class="kw-superficie card">
      <p class="titulo">Kw/mes - m2</p>
      <p>{{ kw_m2 | number: '.1-2'}}</p>
    </div>
  </div>
  <div >
    <table class="table">
      <thead>
        <tr>
          <th class="tg-0pky" colspan="6">Resumen de Variables</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td class="tg-0pky" colspan="2"></td>
          <td class="tg-0lax">Voltaje</td>
          <td class="tg-0pky">Intencidad</td>
          <td class="tg-0pky">Potencia</td>
        </tr>
        <tr>
          <td class="tg-0lax" rowspan="3">Trifasico</td>
          <td class="tg-0lax">máximo</td>
          <td class="tg-0lax">{{reporteD[0].voltajetrimax | number: '.1-2' }}</td>
          <td class="tg-0lax">{{reporteD[0].intencidadtrimax | number: '.1-2' }}</td>
          <td class="tg-0lax">{{reporteD[0].potenciatrimax | number: '.1-2' }}</td>
        </tr>
        <tr>
          <td class="tg-0lax">mínimo</td>
          <td class="tg-0lax">{{reporteD[0].voltajetrimin | number: '.1-2' }}</td>
          <td class="tg-0lax">{{reporteD[0].intencidadtrimin | number: '.1-2' }}</td>
          <td class="tg-0lax">{{reporteD[0].potenciatrimin | number: '.1-2' }}</td>
        </tr>
        <tr>
          <td class="tg-0lax">promedio</td>
          <td class="tg-0lax">{{reporteD[0].voltajetripro | number: '.1-2' }}</td>
          <td class="tg-0lax">{{reporteD[0].intencidadtripro | number: '.1-2' }}</td>
          <td class="tg-0lax">{{reporteD[0].potenciatripro | number: '.1-2' }}</td>
        </tr>
        <tr>
          <td class="tg-0lax" rowspan="3">Línea 1</td>
          <td class="tg-0lax">máximo</td>
          <td class="tg-0lax">{{reporteD[0].voltajel1max | number: '.1-2' }}</td>
          <td class="tg-0lax">{{reporteD[0].intencidadl1max | number: '.1-2' }}</td>
          <td class="tg-0lax">{{reporteD[0].potencial1max | number: '.1-2' }}</td>
        </tr>
        <tr>
          <td class="tg-0lax">mínimo</td>
          <td class="tg-0lax">{{reporteD[0].voltajel1min | number: '.1-2' }}</td>
          <td class="tg-0lax">{{reporteD[0].intencidadl1min | number: '.1-2' }}</td>
          <td class="tg-0lax">{{reporteD[0].potencial1min | number: '.1-2' }}</td>
        </tr>
        <tr>
          <td class="tg-0lax">promedio</td>
          <td class="tg-0lax">{{reporteD[0].voltajel1pro | number: '.1-2' }}</td>
          <td class="tg-0lax">{{reporteD[0].intencidadl1pro | number: '.1-2' }}</td>
          <td class="tg-0lax">{{reporteD[0].potencial1pro | number: '.1-2' }}</td>
        </tr>
        <tr>
          <td class="tg-0lax" rowspan="3">Línea 2</td>
          <td class="tg-0lax">máximo</td>
          <td class="tg-0lax">{{reporteD[0].voltajel2max | number: '.1-2' }}</td>
          <td class="tg-0lax">{{reporteD[0].intencidadl2max | number: '.1-2' }}</td>
          <td class="tg-0lax">{{reporteD[0].potencial2max | number: '.1-2' }}</td>
        </tr>
        <tr>
          <td class="tg-0lax"> mínimo</td>
          <td class="tg-0lax">{{reporteD[0].voltajel2min | number: '.1-2' }}</td>
          <td class="tg-0lax">{{reporteD[0].intencidadl2min | number: '.1-2' }}</td>
          <td class="tg-0lax">{{reporteD[0].potencial2min | number: '.1-2' }}</td>
        </tr>
        <tr>
          <td class="tg-0lax">promedio</td>
          <td class="tg-0lax">{{reporteD[0].voltajel2pro | number: '.1-2' }}</td>
          <td class="tg-0lax">{{reporteD[0].intencidadl2pro | number: '.1-2' }}</td>
          <td class="tg-0lax">{{reporteD[0].potencial2pro | number: '.1-2' }}</td>
        </tr>
        <tr>
          <td class="tg-0lax" rowspan="3">Línea 3</td>
          <td class="tg-0lax">máximo</td>
          <td class="tg-0lax">{{reporteD[0].voltajel3max | number: '.1-2' }}</td>
          <td class="tg-0lax">{{reporteD[0].intencidadl3max | number: '.1-2' }}</td>
          <td class="tg-0lax">{{reporteD[0].potencial3max | number: '.1-2' }}</td>
        </tr>
        <tr>
          <td class="tg-0lax">mínimo</td>
          <td class="tg-0lax">{{reporteD[0].voltajel3min | number: '.1-2' }}</td>
          <td class="tg-0lax">{{reporteD[0].intencidadl3min | number: '.1-2' }}</td>
          <td class="tg-0lax">{{reporteD[0].potencial3min | number: '.1-2' }}</td>
        </tr>
        <tr>
          <td class="tg-0lax">promedio</td>
          <td class="tg-0lax">{{reporteD[0].voltajel3pro | number: '.1-2' }}</td>
          <td class="tg-0lax">{{reporteD[0].intencidadl3pro | number: '.1-2' }}</td>
          <td class="tg-0lax">{{reporteD[0].potencial3pro | number: '.1-2' }}</td>
        </tr>
      </tbody>
      </table>
  </div>
</section>

  <br>

  <div>
    <button class="btn col col-lg-4 btn-danger btn-block ml-4" (click)="downloadPDF()">Reporte</button>
  </div>

  <br>

  <div class="seccion-tres">

    <div class="voltaje">
      <div #chart>
        <plotly-plot [data]="graph.data" [layout]="graph.layout"></plotly-plot>
      </div>
    </div>
  </div>

  <br>

  <div class="seccion-cuatro">
    <div class="intencidad">
      <div #chartIntecidad>
        <plotly-plot [data]="graphIntesidad.data" [layout]="graphIntesidad.layout"></plotly-plot>
      </div>
    </div>
  </div>

  <br>

  <div  class="seccion-cinco" >
    <div>
      <div #chartPotencia>
        <plotly-plot [data]="graphPotencia.data" [layout]="graphPotencia.layout"></plotly-plot>
      </div>
    </div>
  </div>

</div>
