<div class="cuerpo">

  <div class="cabeza">
    <button class="btn btn-info" type="submit" style="cursor: pointer;" (click)="onGuardar()" >Agregar Datos</button>

    <select  [(ngModel)]="medidorSelec" (change)="medidor()">
      <option value="1">Medidor 1</option>
      <option value="2">Medidor 2</option>
      <option value="3">Medidor 3</option>
    </select>
  </div>

  <div>
    <table class="table">
        <thead>
          <tr>
            <th scope="col">Medidor</th>
            <th scope="col">id</th>
            <th scope="col">Voltaje trifásico</th>
            <th scope="col">Intencidad trifásica</th>
            <th scope="col">Potencia Activa trifásica</th>
            <th scope="col">Potencia Reactiva trifásica</th>
            <th scope="col">Energia Activa trifásica</th>
            <th scope="col">Energia Reactiva trifásica</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor = "let cliente of listMedidor" (click)="editarMedidor(cliente)" >
            <th scope="row">{{cliente.piso}}</th>
            <th scope="row">{{cliente.id}}</th>
            <td>{{cliente.v3ph}}</td>
            <td>{{cliente.i3ph}}</td>
            <td>{{cliente.ap3ph}}</td>
            <td>{{cliente.rp3ph}}</td>
            <td>{{cliente.re3ph}}</td>
            <td>{{cliente.ae3ph}}</td>
          </tr>
        </tbody>
      </table>
  </div>
</div>
